.product-list-outerContainer{
    min-height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}
.product-list-innerContainer{
    width: 85%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
}